<!DOCTYPE HTML>
<html>
<head><title>Events Page</title>
  <style>
  #main{
  }
  #sidebar{
    background-color: lightblue;
    width: 10%;
    float: left;
    padding: 20px;
    border-radius: 15px;
  }
  #info{
    background-color: lightgreen;
    width: 80%;
    float: right;
    padding: 20px;
    border-radius: 15px;
  }
</style>
</head>
<body>
<div id="main">
<div id='sidebar'>
  <h2><%= params[:identifier] %></h2>

  <a href="http://localhost:9393/sources/<%= params[:identifier] %>">Home</a><br>
  <a href="http://localhost:9393/sources/<%= params[:identifier] %>/events">Events</a><br>
  <a href="http://localhost:9393/sources/<%= params[:identifier] %>/campaigns">Campaigns</a><br>

</div>
<div id='info'>

  <h1>Events Page</h1>
  <% @events.each do |event| %>
  <a href="http://localhost:9393/sources/<%= params[:identifier] %>/events/<%= event[:eventName] %>"><%= "#{event[:eventName]}" %></a>
  <%= " was recieved #{event[:count]} times." %><br>
  <%end%>

  </div>
</div>
</body>
</html>
